@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,300);

* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	background: #000000;
	color: white;
	font-family: 'Cabin', sans-serif;
	font-size: 18pt;
	font-weight: 400;
}

div#datetime {
	position: absolute;
	top: 0;
	right: 0;
}

div#weather {
	position: absolute;
	bottom: 0;
	right: 0;
}

div#news {
  position: absolute;
  bottom: 0;
  left: 0;
}

div#message {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 75px;
	overflow: hidden;
	white-space: nowrap;
}

div#message h1 {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 75px;
	margin: auto;
	-webkit-transform-origin:0 50%;
	-webkit-transform:rotate(-90deg) translate(-50%, 50%);
	font-family: 'Alegreya Sans' sans-serif;
	font-weight: 300;
	font-size: 48pt;
}
