#weather {
	width: 270px;
  font-size: 9pt;
}

#weather_now img {
	width: 80px;
	margin: 0 85px;
}

#weather_now_desc {
	width: 100%;
  padding: 15px 0 20px;
	font-size: 12pt;
  text-align: center;
}

.weather_forecast div {
	display: inline-block;
}

.weather_forecast_hourly {
  padding: 5px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.weather_forecast_hourly > div {
  padding: 5px 0 5px 10px;
}

.weather_forecast_daily > div {
  padding: 6px 0 7px 5px;
  border-bottom: 1px solid #ddd;
}

.weather_forecast_text {
  width: 130px;
}

.weather_forecast_temp {
  width: 39px;
  margin-right: 57px;
	text-align: right;
}

.weather_forecast_tempMax {
	width: 50px;
	text-align: right;
}

.weather_forecast_tempMin {
	width: 50px;
	font-size: 8pt;
	color: #888;
	text-align: left;
}

.weather_forecast_img {
  height: 16px;
	margin-bottom: -3px;
}
